body{
         background-color:lightpink;
     }
h1{
         font-size:200px;
         text-align:center;
         color:white;
         margin-top:00px;
   }
#sct1{
         border:10px solid wheat;
         margin-right:40px;
         margin-left:40px;
         background-color:white;
       }
         #d2{
            display:flex;
            background-color:deeppink;
            color:white;
             p{margin-left:40px;}
            h4{margin-left:400px;}
             }
         #d1{
             display:flex;
             h4{margin-left: 40px;
                color:hotpink;}
             p{margin-left:40px;}
             button{margin-left:50px;
                    margin-top:12px;
                    margin-bottom:12px;}
             #btn1{ background-color:hotpink;
                    color:white;
                    border-style: none;}
             background-color:azure;
             }
#sct2{
         background-color:blanchedalmond;
     }            
         #h2{ 
            font-size:80px;
            color:palevioletred;
            text-transform:capitalize;
            }
         p{ text-align:center; }
         #btn3{
            background-color:hotpink;
            color:white;
            border-style:none;
            font-size:30px;
            margin-left:500px;
             }


         #d3{
            display:flex;
            background-color:burlywood;
            margin-left:150px;
            margin-right:150px;
            margin-top:50px;
            padding-left:100px;
            padding-bottom:50px;
            border-top-left-radius:45px;
            border-top-right-radius:45px;

         #p1{ margin-left:190px;
              color:mediumvioletred}
         #p2{ margin-left:190px; }
           }
         #d4{
            background-color:burlywood;
            margin-left:150px;
            margin-right:150px;
            padding-left:45px;
            padding-bottom:50px;
            display:flex;
            border-bottom-left-radius:45px;
            border-bottom-right-radius:45px;
            img{ float:left;
                 border-radius:130px;
                 margin-left:px;}
            }
         #d5{
            display:grid;
            grid-template-columns:repeat(2,1fr);
            gap:10px;
            .d6{
                margin:50px;
                padding:20px;
                background:linear-gradient(to left,yellow,aqua,plum,pink,sandybrown,goldenrod);
                h2{ margin-left:20px;
                    color:orangered; }
                img{ float:right; }
                 p{text-align:left}
                button{
                        margin-left:20px;
                        border-style:none;
                        background-color:mediumvioletred;
                        color:aqua;
                        padding:15px;
                        font-size:15px;
                       }
                button:hover{
                        border:6px double crimson;
                        color:darkblue;
                        background-color:cornflowerblue;
                            }
                 }
            }

#sct3{
         background-color:gainsboro;
         padding-bottom:60px;
         padding-top:20px;  
     }

         #d7{  
             img{
                float:right;
                margin-right:70px;
                border:10px solid;
                border-image-source:linear-gradient(45deg,darkcyan,indianred,darkmagenta,dodgerblue,chocolate,mediumseagreen);
                border-image-slice:1;
                }
             h3{
                margin-left:90px;
                color:darkolivegreen;
                }
             h4{ 
                 margin-left:90px;
                 color:brown;
                }
             h2{
                 margin:50px;
                 margin-left:200px;
                 color:deeppink;
                }
             button{
                 margin-top:50px;
                 margin-left:150px;
                 border-style:none;
                 background-color:darkviolet;
                 color:white;
                 padding:20px;
                 font-size:15px;
                    }
                button:hover{
                             border:4px solid red;
                             background-color:darkcyan;
                             }
            }
#sct4{
         background-color:antiquewhite;
         padding-bottom:100px;
         padding-top:20px;
      }
        #d8{
            img{
                float:left;
                margin-left:90px;
                border:10px solid;
                border-image-source:linear-gradient(45deg,darkmagenta,mediumseagreen,indianred,mediumvioletred,darkcyan,chocolate,dodgerblue);
                border-image-slice:1; 
                }
            h3{
                margin-left:650px;
                color:lightseagreen;
              }
            h4{
                margin-left:650px;
                color:coral;
               }

            h2{
                    
                margin-left:700px;
                color:deeppink;
                }
            button{
                margin-top:50px;
                margin-left:150px;
                border-style:none;
                background-color:crimson;
                color:aqua;
                padding:20px;
                font-size:15px;
                border:7px solid green;
                  }
                button:hover{
                             border:5px dashed red;
                             background-color:darkorange;
                            }
    }
#hd2{    text-align:center;
         color:brown;
         padding-top:px;
     }
#d9{
         display:grid;
         grid-template-columns:repeat(4,1fr);
         gap:10px;
         background-color:plum;
         padding-top:20px;
        .d10{
            border-radius:10px;
            background-color:lightskyblue;
            margin:20px;
            padding:20px;
            img{margin-left:25px;}
            p{text-align:justify;
              text-align:left;}
            button{ background-color:darkorange;
                    color:purple;
                    border:3px solid green;
                    padding:10px;}
           }
    }
#d12{
         display:grid;
         grid-template-columns:repeat(3,1fr);
         margin-left:80px;
         margin-right:80px;
        
         .d11{
            
               h2,h3{text-align: center;}
               p{background-color:antiquewhite;
                 text-align:left;
                 text-align:justify;
                 padding:10px;
                 border:2px solid antiquewhite;
                border-radius:20px;}
                 margin:40px;
              } 
     }
#sct5{   border-radius:10px;
         background-color:darkgray;
         color:deeppink;
         text-align: center;
         padding:30px;
         label{
                border:2px solid black;
                padding:10px;
                background-color:darkmagenta;
                color:azure;
               }
         input{
                border:2px solid black;
                padding:10px;
               }
      }
#d14{
         padding:50px;
         background-color:darkgrey;
         display:grid;
         grid-template-columns:repeat(3,1fr);
         padding-left:60px;                
                  
         .d13{
                padding-left:150px;
                h3{color:deeppink;}
                p{text-align:left;
                color:black; }
                  
             } 
     
         #p3{ font-size:25px;
              color:palevioletred;}
         #p4{ color:black;}

     }   